[2022-05-19 15:36] maxonfjvipon opened #1 "Read.me"
It seems we need more attractive readme

[2022-05-19 15:37] maxonfjvipon opened #2 "pom.xml"
pom.xml isn't completed, need to add more info to it.

[2022-05-23 15:03] Graur opened #3 "infinity objects needed"
We need a `positive-infinity` (1.0 / 0.0) and `negative-infinity` (-1.0 / 0.0) EO objects here.

Is it possible to implement it?

[2022-05-23 16:25] maxonfjvipon commented on #3
@Graur I think it's possible, I'll check what IEEE suggest about it. Also I think we need to change `div` method inside `float` object. Something like this:
[code]

[2022-05-30 18:02] maxonfjvipon commented on #3
@Graur Please check this `positive-infinity` object and let me know what you think about it.
Also I have a question and I have not found an answer yet: should infinities have math operations like `add`, `sub`, `mul`, etc?

[2022-05-31 11:04] Graur commented on #3
@maxonfjvipon Could you submit a pull request from branch `#3_infinities` to `main`? It would be easy to check and to view your changes.

Good point, I think they should.
About tricky situations:
`∞ + ∞ = ∞` - compound(+∞, n) is +∞ for n>0 ([IEEE 754: 9.2.1](https://sci-hub.se/10.1109/IEEESTD.2019.8766229))
`∞ * ∞ = ∞` - I guess it will be `1.0/0.0 * 1.0/0.0`, so you are right about it
`∞ ^ ∞ = ∞`

[2022-05-31 16:49] maxonfjvipon commented on #3
@Graur PR was submitted #4

[2022-06-01 09:18] Graur commented on #3
@maxonfjvipon Thanks! Looks great

[2022-06-04 18:55] maxonfjvipon commented on #3
@Graur @yegor256 Hey there. I know it's not really related to this issue but look at this: I started to learn IEEE to know how to deal with all these infinities and nan and so on. And it seems there are so many identical and/or unique situations that we should take care of in many places(objects).

For now we have 5 objects that may have math operations: float, int, nan (we have one for now, IEEE

[2022-06-06 10:07] Graur commented on #3
@maxonfjvipon What would type checking inside `add x y` look like then? How can I understand that I've got `int` as `x` or `y`, not `float` in you operation object?
Maybe we should split `int` and `float` objects and decorate them as `rich-int` and `rich-float` with a lot of math operations of each type, instead?

[2022-06-06 12:42] maxonfjvipon opened #5 "angle.as-radians needed"
It seems we need to be able to convert an `angle` to radians too

[2022-06-13 14:51] maxonfjvipon opened #6 "Every operations with NaN should return NaN"

[2022-06-13 15:10] maxonfjvipon commented on #5
It seems it looks good and corresponds to the paper

<img width="313" alt="image" src="https://user-images.githubusercontent.com/37025995/173385444-8b6269a3-3dda-4a24-84da-1f61e314b911.png">

[2022-06-13 15:10] #5 closed

[2022-06-17 03:26] yegor256 commented on #3
@maxonfjvipon by the way, [the paper](https://github.com/objectionary/on-the-origin-of-objects) doesn't say anything about `nan` object... but it should. Feel free to submit a pull request.

[2022-06-17 07:36] Graur commented on #3
@maxonfjvipon Looks great! I absolutely agree with your infinity operations implementation.

[2022-06-17 12:44] maxonfjvipon opened #7 "NaN and angle "methods" must meet float methods"
According to [this](https://arxiv.org/abs/2206.02585) paper `NaN` and `angle` methods must meet float operations:
- greater -> gt
- less -> lt
- geq -> gte
- leq  -> lte
- add -> plus
- sub -> minus
- mul -> times

[2022-06-17 12:52] #7 closed

[2022-06-17 12:59] maxonfjvipon opened #8 "First release with Rultor needer"

[2022-06-18 08:59] maxonfjvipon commented on #8
@rultor release, tag is `0.0.1`

[2022-06-18 09:01] rultor commented on #8
@maxonfjvipon OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26046-1159401651)

[2022-06-18 09:03] rultor commented on #8
@maxonfjvipon Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26046-1159401651) (spent 1min)

[code]

[2022-06-18 16:44] maxonfjvipon commented on #8
@rultor release, tag is `0.0.1`

[2022-06-18 16:46] rultor commented on #8
@maxonfjvipon OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26046-1159513282)

[2022-06-18 16:46] rultor commented on #8
@maxonfjvipon Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26046-1159513282) (spent 17s)

[code]

[2022-06-18 17:38] maxonfjvipon commented on #8
@rultor release, tag is `0.0.1`

[2022-06-18 17:40] rultor commented on #8
@maxonfjvipon OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26046-1159521725)

[2022-06-18 17:42] rultor commented on #8
@maxonfjvipon Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26046-1159521725) (spent 2min)

[code]

[2022-06-20 14:30] rultor commented on #8
@maxonfjvipon OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26046-1160517640)

[2022-06-20 14:36] rultor commented on #8
@maxonfjvipon Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26046-1160517640) (spent 6min)

[code]

[2022-06-21 11:20] maxonfjvipon commented on #8
@rultor release, tag is `0.0.1`

[2022-06-21 11:22] rultor commented on #8
@maxonfjvipon OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26046-1161610215)

[2022-06-21 11:28] rultor commented on #8
@maxonfjvipon Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26046-1161610215) (spent 7min)

[code]

[2022-06-21 11:35] maxonfjvipon commented on #8
@rultor release, tag is `0.0.1`

[2022-06-21 11:35] rultor commented on #8
@maxonfjvipon OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26046-1161626318)

[2022-06-21 11:42] rultor commented on #8
@maxonfjvipon Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26046-1161626318) (spent 7min)

[code]

[2022-06-21 11:50] maxonfjvipon commented on #8
@rultor release, tag is `0.0.1`

[2022-06-21 11:51] rultor commented on #8
@maxonfjvipon OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26046-1161642010)

[2022-06-21 11:58] rultor commented on #8
@maxonfjvipon Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26046-1161642010) (spent 7min)

[code]

[2022-06-21 12:04] maxonfjvipon commented on #8
@rultor release, tag is `0.0.1`

[2022-06-21 12:05] rultor commented on #8
@maxonfjvipon OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26046-1161656751)

[2022-06-21 12:11] rultor commented on #8
@maxonfjvipon Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26046-1161656751) (spent 7min)

[code]

[2022-06-21 12:18] maxonfjvipon commented on #8
@rultor release, tag is `0.1`

[2022-06-21 12:18] rultor commented on #8
@maxonfjvipon OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26046-1161671782)

[2022-06-21 12:25] rultor commented on #8
@maxonfjvipon Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26046-1161671782) (spent 7min)

[code]

[2022-06-21 12:38] maxonfjvipon commented on #8
@rultor merge, tag is `0.0.1`

[2022-06-21 12:38] maxonfjvipon commented on #8
@rultor release, tag is `0.0.1`

[2022-06-21 12:40] rultor commented on #8
@maxonfjvipon OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26046-1161693532)

[2022-06-21 12:47] rultor commented on #8
@maxonfjvipon Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26046-1161693532) (spent 8min)

[code]

[2022-06-21 12:54] maxonfjvipon commented on #8
@rultor release, tag is `0.0.2`

[2022-06-21 12:55] rultor commented on #8
@maxonfjvipon OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26046-1161709582)

[2022-06-21 13:06] #8 closed

[2022-06-21 14:07] #1 closed

[2022-06-21 14:07] #2 closed

[2022-06-23 07:15] #3 closed

[2022-06-23 09:57] Graur opened #13 "to move objects from `eo-runtime` of EO"
It would be great if we could move objects from `org.eolang.math` package of `eo-runtime` (in EO) to this `eo-math` project.
Since we get rid of them from `float.eo` and `int.eo` according to [this](https://github.com/objectionary/on-the-origin-of-objects/blob/master/paper.tex#L386). Here they are:
- angle.eo
- number.eo
- random.eo
and some tests for them

@maxonfjvipon You can leave them as is o

[2022-06-23 11:42] maxonfjvipon commented on #13
@Graur Sure, I'll do it. I'll let you know if there're any problems

[2022-07-05 09:24] Graur opened #133 "int8 , int16 , int32 and int128 objects"
According to this [paper](https://arxiv.org/pdf/2206.02585.pdf) (p. 7 Digits) we need to add `int8` , `int16` , `int32` and `int128` objects, which are decorators of bytes with a predefined size. They implement the same numeric operations as `int`.

[2022-07-06 09:49] maxonfjvipon commented on #13
@rultor release, tag is `0.1.0`

[2022-07-06 09:50] rultor commented on #13
@maxonfjvipon OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26161-1176019691)

[2022-07-06 09:58] rultor commented on #13
@maxonfjvipon Done! FYI, the full log is [here](https://www.rultor.com/t/26161-1176019691) (took me 8min)

[2022-07-06 10:02] maxonfjvipon commented on #13
@Graur I think that's it. What are we gonna do next? Remove these math objects from EO repo?

[2022-07-06 10:14] Graur commented on #13
@maxonfjvipon I agree, great job! Thanks!
Then we need to place  your objects to `objectionary/home` project (or just change `+rt` meta there) and yes, remove them from `eo-runtime`

[2022-07-09 15:15] maxonfjvipon commented on #13
@rultor release, tag is `0.1.2`

[2022-07-09 15:16] rultor commented on #13
@maxonfjvipon OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26161-1179560386)

[2022-07-09 15:24] rultor commented on #13
@maxonfjvipon Done! FYI, the full log is [here](https://www.rultor.com/t/26161-1179560386) (took me 8min)

[2022-07-13 19:29] yegor256 opened #20 "angle.cos and angle.sin must be in EO, not in Java"
Let's implement them in EO, instead of Java

[2022-07-13 19:31] yegor256 opened #21 "'number.power' can be implemented in EO instead of Jav"
Let's get rid of the atom and implement `number.power` in EO

[2022-07-15 03:06] yegor256 opened #22 "JAR packaging is done wrong, .class files don't get into it"
The JAR file we produce doesn't include `.class` files written here, but does include `.class` files generated from auto-generated Java files. It should be the other way around.

[2022-07-15 10:33] yegor256 commented on #22
@rultor release, tag is `0.1.4`

[2022-07-15 10:43] rultor commented on #22
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26244-1185413550) (took me 9min)

[2022-07-15 10:48] #22 closed

[2022-07-15 14:14] maxonfjvipon commented on #20
@yegor256 are you sure that's a good idea? Calculation of sin(x) is quite heavy operation and there is no one unique and perfect method to calculate it. There is a group (family) of different methods that are called depends on input value (x).

"As for Java, C#, PHP and other high-level languages, they ultimately call low-level, decades-optimized low-level implementations in C, which perform all t

[2022-07-15 14:31] yegor256 commented on #20
@maxonfjvipon eventually we have to do it, sooner or later. I suggest we try sooner rather than later :) If it will be not so perfect, fine. Any EO implementation is better than Java.

[2022-07-19 01:09] maxonfjvipon commented on #13
@Graur it seems we're done here

[2022-07-19 05:07] Graur commented on #13
@maxonfjvipon Perfectly, thanks!

[2022-07-19 05:07] #13 closed

[2022-07-22 08:40] Graur opened #25 "Sort metas according to natural order"
Metas must be sorted alphabetically according to EO policy.
Blocks: https://github.com/objectionary/eo/issues/846

[2022-07-22 08:46] Graur commented on #25
@maxonfjvipon please, take this task, the budget is 30 minutes

[2022-07-22 09:10] Graur opened #26 "`eo-math` release"
We need to:

- [ ] create corresponding release of `eo-math`
- [ ] add all `.eo` files from `eo-math` to `objectionary/home` project (by `.sh` script)

after #25

[2022-07-22 09:11] Graur commented on #26
@maxonfjvipon please, take this task, the budget is 30 minutes

[2022-07-25 07:25] Graur opened #28 "rultor merge failed"
When I'm trying to merge some changes with `rultor`, I've get an error.
[code]

I think `rultor.yml` configuration merge is broken

[2022-07-25 16:33] Graur commented on #28
done in #29

[2022-07-25 16:33] #28 closed

[2022-07-25 16:34] Graur commented on #25
@kerelape Thanks!

[2022-07-25 16:34] #25 closed

[2022-07-26 10:05] Graur opened #30 "restrict release binaries"
We need to up version of `jcabi` to `0.59.0` in pom. Similar to [this](https://github.com/objectionary/eo-hamcrest/pull/85/files).

[2022-07-26 11:52] maxonfjvipon opened #31 "`(number 0).is-int` returns FALSE"
`(number 0).is-int` must return TRUE

[code]

[2022-07-26 13:23] Graur commented on #31
@maxonfjvipon Indeed, it's a bug. Can you fix this? The budget is 30 minutes.

[2022-07-26 14:24] yegor256 commented on #30
@rultor release, tag is `0.1.5`

[2022-07-26 14:25] rultor commented on #30
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26335-1195553850)

[2022-07-26 14:36] rultor commented on #30
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26335-1195553850) (took me 10min)

[2022-07-26 14:42] #30 closed

[2022-07-27 06:53] yegor256 commented on #26
@Graur I believe it's done

[2022-07-27 06:54] yegor256 opened #33 "new style of error processing"
Let's use eo 0.25.5

[2022-07-27 06:54] yegor256 commented on #33
@rultor release, tag is `0.2.0`

[2022-07-27 06:56] rultor commented on #33
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26350-1196334601)

[2022-07-27 07:05] rultor commented on #33
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26350-1196334601) (took me 9min)

[2022-07-27 07:06] #33 closed

[2022-07-27 08:00] Graur commented on #26
@yegor256 Agree

[2022-07-27 08:00] #26 closed

[2022-08-07 10:14] yegor256 opened #35 "implement random.pseudo in EO using QQ.sys.call or QQ.sys.win32"
Now, `random.pseudo` is using Java in order to get `currentTimeMillis()`. It's possible to get rid of Java, after we enable `gettimeofday` in eo-sys: https://github.com/objectionary/eo-sys/issues/5

[2022-08-07 10:15] yegor256 commented on #35
@mximp please, help or delegate

[2022-08-09 04:08] yegor256 opened #36 "max and min in a "series""
Would be nice to introduce a new object `series`, which would decorate an array. Then, we can have `max` and `min`:

[code]

Later, we can implement `series.sum`, `series.average`, `series.expectancy`, etc.

[2022-08-09 04:08] yegor256 commented on #36
@maxonfjvipon @Graur what do you think?

[2022-08-09 04:27] Graur commented on #36
@yegor256 Maybe `number` object would be a better candidate for these operations?

[2022-08-09 07:40] maxonfjvipon commented on #31
@Graur I think it's done. Could you please make a release?

[2022-08-09 07:45] Graur commented on #31
@maxonfjvipon I think I don't have enough permission to do it.
@yegor256 please help us to release `eo-math` up to `0.2.1`

[2022-08-09 07:47] yegor256 commented on #31
@rultor release, tag is `0.2.1`

[2022-08-09 07:49] rultor commented on #31
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26455-1209033478)

[2022-08-09 07:58] rultor commented on #31
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26455-1209033478) (took me 9min)

[2022-08-12 10:40] Graur commented on #31
@maxonfjvipon I believe it is done

[2022-08-12 10:44] maxonfjvipon commented on #31
@Graur almost, just need to fix 2 tests that decorates `nop`. After [this](https://github.com/objectionary/eo/pull/957#pullrequestreview-1070898836)

[2022-08-12 10:46] Graur commented on #36
@maxonfjvipon Buget: 30 min

[2022-08-12 10:57] Graur opened #37 "`ceil` object"
We need to add `number.ceil` object according to [this](https://arxiv.org/pdf/2206.02585.pdf):
• ceil : round itself up

[2022-08-12 10:58] Graur commented on #37
@maxonfjvipon please, take this task. The budget is 30 min.

[2022-08-12 10:59] Graur commented on #20
@maxonfjvipon Take this task, please. The budget is 30 min. You are welcome to use [pdd](https://www.yegor256.com/2010/03/04/pdd.html)

[2022-08-12 11:00] Graur commented on #6
@maxonfjvipon What's up with this?

[2022-08-15 08:44] #37 closed

[2022-08-15 08:47] Graur commented on #37
@maxonfjvipon Thanks!

[2022-08-15 08:49] Graur commented on #21
@maxonfjvipon please, take this task. The budget is 30 minutes.

[2022-08-18 12:07] mximp commented on #35
@potatmen please have a look

[2022-08-23 15:37] potatmen commented on #35
@mximp as I see `eo.sys` module on the stage of PR. I am interested in implementing pseudo.random using this module!
Btw, I proved that random.pseudo has a uniform distribution with the old implementation, I believe I will need to do it once again after implementation it in EO right?

[2022-08-23 16:20] mximp commented on #35
@potatmen The task is exactly about implementation of `Pseudo.random` using `eo.sys`.

Yes, would be good to validate.

[2022-08-26 08:48] potatmen commented on #35
@mximp Ok, but still I'm waiting for the merge of your PR to start using this module.

[2022-09-01 03:09] yegor256 opened #42 "upgrade to EO 0.28.0"
After the changes introduced in EO 0.28.0, one of the tests fail here:

[code]

Please, upgrade and release new version of eo-math.

[2022-09-01 03:09] yegor256 commented on #42
@Graur please, help

[2022-09-01 11:02] 0pdd opened #44 "number-tests.eo:317-320: We need to remove this nop..."
The puzzle `42-658d578c` from #42 has to be resolved:

https://github.com/objectionary/eo-math/blob/74d91636c5fd5b72c970f5728844c92537cae7c0/src/test/eo/org/eolang/math/number-tests.eo#L317-L320

The puzzle was created by @Graur on 01-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2022-09-01 11:02] 0pdd commented on #44
@maxonfjvipon please pay attention to this new issue.

[2022-09-01 11:02] 0pdd commented on #42
@yegor256 the puzzle [#44](https://github.com/objectionary/eo-math/issues/44) is still not solved.

[2022-09-01 11:05] Graur commented on #42
@rultor release, tag is `0.2.2`

[2022-09-01 11:06] rultor commented on #42
@graur @yegor256 We failed, sorry, try again:

[code]

[2022-09-01 11:08] Graur commented on #42
@yegor256 Can you help to release `0.2.2` version of `eo-math`, please? I have not enough permissions

[2022-09-01 11:27] yegor256 commented on #42
@rultor release, tag is `0.2.2`

[2022-09-01 11:28] rultor commented on #42
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26652-1234147011)

[2022-09-01 11:36] rultor commented on #42
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26652-1234147011) (took me 7min)

[2022-09-01 15:56] Graur commented on #42
@yegor256 please close the ticket if you don’t have any further questions.

[2022-09-01 16:06] #42 closed

[2022-09-01 16:06] yegor256 commented on #42
@Graur thanks!

[2022-09-01 16:09] mximp opened #45 "Unsorted metas in `number.eo`"
Compiling `eo-runtime` the following error occurs:
[code]
Build fails due to `failOnWarning` enabled in `eo-runtime`.
The warning needs to be fixed in `number.eo`.
Also the same flag needs to be enabled in `eo-math`

[2022-09-01 17:14] Graur commented on #45
@yegor256 Can you help with `eo-math` release, please? I suggest `0.2.3` version

[2022-09-01 17:33] yegor256 commented on #45
@rultor release, tag is `0.2.3`

[2022-09-01 17:33] rultor commented on #45
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26657-1234579777)

[2022-09-01 17:40] rultor commented on #45
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26657-1234579777) (took me 7min)

[2022-09-01 18:35] Graur commented on #45
@yegor256 Thanks!

[2022-09-05 06:12] potatmen commented on #35
@mximp I have a question about how to use `gettimeofday` in EO. If I try to use it like this `QQ.sys.system.gettimeofday` I get an error `The attribute Δ of org.eolang.PhLocated has org.eolang.PhPackage instead of org.eolang.Data`. If like this `QQ.sys.call "gettimeofday"` then I get this error `EOorg.EOeolang.EOstringν17="Can't #copy() package object 'org.eolang.sys.call'"SF`
[Code](https://paste

[2022-09-05 09:14] mximp commented on #35
@potatmen The function is expected to be called like the following:
[code]

[2022-09-05 16:30] potatmen commented on #35
@mximp Trying to use it like you said proposed [code](https://pastebin.com/LSgxuVLL) and get `The alias "org.eolang.sys.call" is not used (unused-aliases:26)`

[2022-09-05 19:36] mximp commented on #35
@potatmen It's strange.. Can you try to use just `call`?

[2022-09-05 19:50] mximp commented on #35
Also can you try to examine `target/eo` folder for interim stages. In which `.xmir` the error appears?

[2022-09-06 07:20] potatmen commented on #35
@mximp Tried to use just call, got this `Failed while trying to save to ./target/04-pull/org/eolang/call.eo: https://raw.githubusercontent.com/objectionary/home/85efb6667117cb1f2f003016da99800dec26c5b7/objects/org/eolang/call.eo`

[2022-09-06 07:27] potatmen commented on #35
@mximp The directory you recommended to check has only `.csv` files and no `.xmir` files

[2022-09-06 07:49] potatmen commented on #35
@mximp Btw, according to this [comment](https://github.com/objectionary/eo-sys/issues/9#issuecomment-1232782325) we can't use `sys.call` because it wasn't added to the Objectionary

[2022-09-11 08:05] mximp commented on #35
@potatmen normally `target/eo` should have the following structure:
[code]

That's is the point of the task - to re-write it in EO. Let's review it as par of PR.

[2022-09-11 11:36] potatmen commented on #35
@mximp https://github.com/objectionary/eo-sys/compare/master...potatmen:eo-sys:master in this file I added random number generator, please check it out. I placed it to the `eo-sys` repo because it's successfully running inside this repo

[2022-09-11 15:30] potatmen commented on #35
@mximp one thing I have noticed about `target/eo` is that there are no `sys` subfolder, I mean that there are subfolders of `math` `collections` and so `sys`.
<img width="367" alt="Screenshot 2022-09-11 at 11 25 46 PM" src="https://user-images.githubusercontent.com/90863441/189535841-bcaab77c-0b8c-470b-a79c-ddc232013b6f.png">
Also, please take a look at this issue https://github.com/objectionary/e

[2022-09-13 07:48] mximp commented on #35
@potatmen As far as I can tell this will look totally different when implemented in correct repo (`eo-math`). Let's wait for `eo-sys` is released properly and then solve this task.

[2022-09-16 08:35] Graur opened #48 "Tag 'master' doesn't exist or the list of all tags was not loaded correctly"
@Graur could you please take a look?
Failed to execute goal org.eolang:eo-maven-plugin:0.28.0:assemble (compile) on project eo-math: Execution compile of goal org.eolang:eo-maven-plugin:0.28.0:assemble failed: Tag 'master' doesn't exist or the list of all tags was not loaded correctly

_Originally posted by @maxonfjvipon in https://github.com/objectionary/eo-math/issues/41#issuecomment-1248484817_

[2022-09-19 10:54] #48 closed

[2022-09-19 11:40] #21 closed

[2022-09-19 11:40] 0pdd opened #50 "number.eo:183-184: min. Add an ability to raise a number..."
The puzzle `21-dd9dd514` from #21 has to be resolved:

https://github.com/objectionary/eo-math/blob/e857216bde5113709349030a2290b6748558ce0b/src/main/eo/org/eolang/math/number.eo#L183-L184

The puzzle was created by maximtrunnikov on 19-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2022-09-19 11:40] 0pdd opened #51 "number.eo:186-188: min. Improve performance to be able to..."
The puzzle `21-9a1034f5` from #21 has to be resolved:

https://github.com/objectionary/eo-math/blob/e857216bde5113709349030a2290b6748558ce0b/src/main/eo/org/eolang/math/number.eo#L186-L188

The puzzle was created by maximtrunnikov on 19-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2022-09-19 11:40] 0pdd commented on #51
@maxonfjvipon please pay attention to this new issue.

[2022-09-19 11:40] 0pdd commented on #21
@yegor256 2 puzzles [#50](https://github.com/objectionary/eo-math/issues/50), [#51](https://github.com/objectionary/eo-math/issues/51) are still not solved.

[2022-09-19 11:45] Graur commented on #50
@maxonfjvipon Please, take this task. The budget is 30 min

[2022-09-19 11:45] Graur commented on #51
@maxonfjvipon Please, take this task. The budget is 30 min

[2022-09-19 11:49] #31 closed

[2022-09-19 11:51] maxonfjvipon commented on #44
@Graur I think it can be closed

[2022-09-19 12:02] Graur commented on #44
@maxonfjvipon `0pdd` bot close this issue automatically, after current `@todo` will be removed

[2022-09-19 12:18] 0pdd commented on #44
The puzzle `42-658d578c` has disappeared from the source code, that's why I closed this issue. //cc @maxonfjvipon

[2022-09-19 12:18] #44 closed

[2022-09-19 12:18] 0pdd commented on #42
@yegor256 the only puzzle [#44](https://github.com/objectionary/eo-math/issues/44) is solved here.

[2022-09-19 14:06] #36 closed

[2022-09-20 16:42] maxonfjvipon opened #53 "`number.log` and `number.ln` objects needed"
For [this](https://github.com/objectionary/eo-math/issues/50) ticket we need two new objects `number.log` and `number.ln`.
 I think `log` should be implemented in Java for now, `ln` will decorate `log`.
@Graur, what do you think?

[2022-09-21 10:14] Graur commented on #53
@maxonfjvipon I agree, go ahead! And don't forget to use PDD for `log` implementation by EO.
The budget is: 30 min

[2022-09-24 06:15] 0pdd opened #54 "series.eo:34-35: The array may consist of objects of any..."
The puzzle `36-165baf3b` from #36 has to be resolved:

https://github.com/objectionary/eo-math/blob/01866b2462cd9668c7a9b684268aa45ce7e37657/src/main/eo/org/eolang/math/series.eo#L34-L35

The puzzle was created by @yegor256 on 24-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2022-09-24 06:15] 0pdd commented on #54
@maxonfjvipon please pay attention to this new issue.

[2022-09-24 06:15] 0pdd commented on #36
@yegor256 the puzzle [#54](https://github.com/objectionary/eo-math/issues/54) is still not solved.

[2022-11-02 10:59] ivan-egorov42 opened #55 "Problem with meta"
I want to use `mod` object in my program:
[code]
but I get this error. What could be wrong?
[code]

[2022-11-02 11:00] ivan-egorov42 commented on #55
@Graur @maxonfjvipon @mximp could you help pls?

[2022-11-02 11:09] Graur commented on #55
@ivan-egorov42 You need to remove `+alias org.eolang.math.number` since it didn't used

[2022-11-02 11:16] ivan-egorov42 commented on #55
@Graur but I need the `mod` object in my program from this library. I realized my mistake, I had to use `(number y).mod` for this. This program is working:
[code]

[2022-11-02 11:40] Graur commented on #55
@ivan-egorov42 So we can close this issue?

[2022-11-02 11:42] ivan-egorov42 commented on #55
@Graur yeah, sorry for disturbing)

[2022-11-02 11:42] #55 closed

[2022-11-03 12:49] Graur commented on #53
@levBagryansky please, help us here

[2022-11-03 13:02] levBagryansky opened #56 "Calculate series atom"
What if we introduce a new atom that calculates a series. So we could implement `sin`, `cos` and and othe trigonometric functions via Taylor series. It would take a value and formula for coefficient of nth term. For example we could implement exp(x) by this:
[code]
We need to give coefficient of nth term somehow.
@Graur @EugeneDar @includealex what do you think?

[2022-11-03 13:07] levBagryansky commented on #53
@Graur sure

[2022-11-03 13:39] levBagryansky commented on #56
@Graur May be it would be better to implement this in eo. Precise woulbe worse but we could give a function like this:
[code]

[2022-11-03 14:40] Graur commented on #56
@levBagryansky Tailor series sounds good to me. But maybe we can read more about Chebyshev Polynomials first? Since this algorithm is used in Java and C libraries, as far as I know.
@yegor256 What do you think about implementation of trigonometric functions via Tailor series?

[2022-11-03 15:24] yegor256 commented on #56
@levBagryansky @Graur I like the idea, but I would call the atom `taylor`

[2022-11-05 04:05] renovate[bot] opened #60 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update junit5 monorepo to v5.9.1 (`org.junit.jupiter:junit-jupiter-params`, `org.junit.jupiter:junit-jupiter-a

[2022-11-05 12:15] levBagryansky commented on #56
@Graur please assign me

[2022-11-06 17:33] Graur commented on #51
@maxonfjvipon Can I deleagte this task to another person, or you have a progress on this task?

[2022-11-06 17:38] maxonfjvipon commented on #51
@Graur I have a progress, the result is coming

[2022-11-07 12:31] #53 closed

[2022-11-07 12:31] 0pdd opened #69 "number.eo:292-294: Remove unnecessary checks and move..."
The puzzle `53-64d5b423` from #53 has to be resolved:

https://github.com/objectionary/eo-math/blob/5a32e1a4dcffb3ce982520ef9fc9cecefa38a2c8/src/main/eo/org/eolang/math/number.eo#L292-L294

The puzzle was created by @rultor on 07-Nov-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2022-11-07 12:31] 0pdd commented on #69
@maxonfjvipon please pay attention to this new issue.

[2022-11-07 12:31] 0pdd opened #70 "number.eo:355-356: Natural logarithm should be..."
The puzzle `53-f25515fd` from #53 has to be resolved:

https://github.com/objectionary/eo-math/blob/5a32e1a4dcffb3ce982520ef9fc9cecefa38a2c8/src/main/eo/org/eolang/math/number.eo#L355-L356

The puzzle was created by @rultor on 07-Nov-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2022-11-07 12:31] 0pdd commented on #70
@maxonfjvipon please pay attention to this new issue.

[2022-11-07 12:31] 0pdd commented on #53
@maxonfjvipon 2 puzzles [#69](https://github.com/objectionary/eo-math/issues/69), [#70](https://github.com/objectionary/eo-math/issues/70) are still not solved.

[2022-11-07 14:18] levBagryansky opened #71 "test with number.log fails"
@Graur @maxonfjvipon please check
The tests with number.log fails with `stackoverfow`. Maybe we need to investigate this question.
[fail case](https://github.com/objectionary/eo-math/actions/runs/3410936675/jobs/5674513077).
More cases are in #65

[2022-11-07 14:26] levBagryansky commented on #71
@Graur @maxonfjvipon My theory is it fails because of too many tests since [here](https://github.com/objectionary/eo-math/actions/runs/3410936675/jobs/5674513077) failed test with `nop > @`

[2022-11-10 08:24] includealex opened #73 "arccos object"
I think that we should have an opportunity to count arccos of some value. It can help in implementation Chebyshev Polynomials. For instance, we will have an ability to count them like
$$T_n(x) = \cos {(n \cdot \arccos{(x)})}$$
@Graur what do you think? Do we need object `acos` in `eo-math` or it would be better to avoid having it?

[2022-11-10 08:58] Graur commented on #73
@includealex Sounds good to me. But why you choose the name `acos` instead of `arccos`? And if we implement this object, it should be a part of `angle` object.
@maxonfjvipon What do you think?

[2022-11-10 09:18] maxonfjvipon commented on #73
@Graur @includealex I like `arccos` too, but I'm not sure if it should belong to `angle` object.

When we say `(angle 30).cos` we mean that we want to find cosine of the 30 degrees angle, but if we say `(angle 30).arrcos` - it would be kind of wrong, because 30 here is not an 30 degrees angle. 30 is the result of `(angle x).cos` where `x` is the angle we want to find.

I hope we understood what I

[2022-11-10 09:19] levBagryansky commented on #73
@includealex maybe arccos should return `angle`?

[2022-11-10 09:19] includealex commented on #73
@maxonfjvipon I agree with you

[2022-11-10 09:25] maxonfjvipon commented on #73
@levBagryansky maybe, and if user want to work with the result if `arccos` like with just a number, he may call `as-radians` or `as-degrees`

[2022-11-10 12:33] Graur opened #75 "increase stack size"
We need to increase stack size up to 256 mb

[2022-11-10 13:02] #75 closed

[2022-11-10 13:04] Graur commented on #71
@levBagryansky This PR #76 should help, please try to build it again

[2022-11-10 15:54] #56 closed

[2022-11-10 16:10] levBagryansky commented on #71
@Graur Thanks!

[2022-11-10 16:10] #71 closed

[2022-11-10 16:40] levBagryansky commented on #56
@Graur rultor did not open `@todo` issues

[2022-11-10 18:28] 0pdd opened #79 "number.eo:291-293: min. Implement sin using this taylor..."
The puzzle `56-3e56337e` from #56 has to be resolved:

https://github.com/objectionary/eo-math/blob/a61f115a10a787c2ff52a411e483aaf678e3a7e5/src/main/eo/org/eolang/math/number.eo#L291-L293

The puzzle was created by @levBagryansky on 10-Nov-22.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2022-11-10 18:28] 0pdd commented on #79
@maxonfjvipon please pay attention to this new issue.

[2022-11-10 18:28] 0pdd opened #81 "number.eo:295-297: min. Implement cos using this taylor..."
The puzzle `56-447424ab` from #56 has to be resolved:

https://github.com/objectionary/eo-math/blob/a61f115a10a787c2ff52a411e483aaf678e3a7e5/src/main/eo/org/eolang/math/number.eo#L295-L297

The puzzle was created by @levBagryansky on 10-Nov-22.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2022-11-10 18:28] 0pdd commented on #81
@maxonfjvipon please pay attention to this new issue.

[2022-11-10 18:28] 0pdd opened #82 "number.eo:299-301: min. Implement tg using this taylor..."
The puzzle `56-d42fb220` from #56 has to be resolved:

https://github.com/objectionary/eo-math/blob/a61f115a10a787c2ff52a411e483aaf678e3a7e5/src/main/eo/org/eolang/math/number.eo#L299-L301

The puzzle was created by levBagryansky on 10-Nov-22.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2022-11-10 18:28] 0pdd commented on #82
@maxonfjvipon please pay attention to this new issue.

[2022-11-10 18:28] 0pdd opened #83 "number.eo:303-305: min. Implement exp using this taylor..."
The puzzle `56-a1660657` from #56 has to be resolved:

https://github.com/objectionary/eo-math/blob/a61f115a10a787c2ff52a411e483aaf678e3a7e5/src/main/eo/org/eolang/math/number.eo#L303-L305

The puzzle was created by levBagryansky on 10-Nov-22.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2022-11-10 18:28] 0pdd commented on #83
@maxonfjvipon please pay attention to this new issue.

[2022-11-10 18:28] 0pdd commented on #56
@levBagryansky 4 puzzles [#79](https://github.com/objectionary/eo-math/issues/79), [#81](https://github.com/objectionary/eo-math/issues/81), [#82](https://github.com/objectionary/eo-math/issues/82), [#83](https://github.com/objectionary/eo-math/issues/83) are still not solved.

[2022-11-11 10:58] levBagryansky commented on #83
@Graur please assign me

[2022-11-11 11:00] Graur commented on #83
@levBagryansky Sure, go ahead

[2022-11-11 11:59] includealex opened #84 "Binary search object"
For creating new objects, for instance, `arccos` using binary search is needed. I think, that it would be helpful to have such an object as `binary-search`:
[code]
Where
- `precision` is an accuracy with what you want to count result
- `given-value` is a value you want to count. For instance, `arccos 0.6` here `0.6` is a given value
- `localization-area` is an area where we are searching for funct

[2022-11-11 12:11] Graur commented on #84
@includealex I don't mind. But maybe we can rename these parameters. I suggest:
[code]

Or something similar

[2022-11-11 12:48] maxonfjvipon commented on #79
@Graur please assign me

[2022-11-11 12:50] Graur commented on #79
@maxonfjvipon Sure, go ahead. The budget is 30 minutes

[2022-11-11 16:37] includealex commented on #84
@Graur your suggestion of renaming parameters looks good to me
@yegor256 what do you think creating such an object?

[2022-11-11 16:40] yegor256 commented on #84
@includealex can you give an example of using this?

[2022-11-11 16:45] includealex commented on #84
@yegor256 you can find it in [this](https://github.com/objectionary/eo-math/pull/77/files) pull request. For calculating `arccos`, `binary search` was needed.

[2022-11-11 17:02] Graur commented on #84
@yegor256 I was thinking about something similar to [Arrays.binarySearch()](https://docs.oracle.com/javase/7/docs/api/java/util/Arrays.html#binarySearch(byte[],%20byte)) in Java.

[2022-11-11 17:04] yegor256 commented on #84
@Graur if it's similar to Java `binarySearch`, then what is precision doing here? I'm confused.

[2022-11-11 22:53] includealex commented on #84
@yegor256 we can exclude users' ability to set their own precision and use our own. 1e-9 looks good enough.

[2022-11-12 01:55] yegor256 commented on #84
@includealex I'm still lost. What is precision in terms of binary search? I can't find this word in this page: https://en.wikipedia.org/wiki/Binary_search_algorithm

[2022-11-12 06:14] includealex commented on #84
@yegor256 on the same page in the algorithms procedure in the 6 step we are comparing $A_m$ and T. Both of them are float numbers, and for comparing them we should say that:
$|A_m - T| < \varepsilon \equiv precision$.

[2022-11-12 06:25] includealex commented on #84
Precision affects on the number of binary search iterations.

[2022-11-12 11:42] includealex commented on #83
@Graur @levBagryansky do we really need `taylor` object for counting exponent?
We know that in taylor series $e^x$ looks like:
$$e^x = 1 + \frac{x}{1!} + \frac{x^2}{2!} + \frac{x^3}{3!} + ...$$
But we can rewrite it as
$$e^x = 1 + \frac{x}{1} \cdot(1 + \frac{x}{2} \cdot(1 + \frac{x}{3} \cdot (...)))$$
For example, C++ implementation looks like this:
[code]

[2022-11-12 11:44] includealex commented on #83
In the given example `n` means that we are using first n terms of Taylor Series.

[2022-11-12 13:43] levBagryansky commented on #83
@includealex Indeed. Seems this way is better because allows to calculate more terms in series

[2022-11-12 14:12] levBagryansky commented on #83
@includealex We also can use definition of `exp`:
$$\exp(x) = \lim\limits_{n \to \infty} (1 + \frac{x}{n})^n$$

[2022-11-12 15:02] includealex commented on #83
@levBagryansky it is a good idea, but I think that it would be not as accurate, as we want. If we take `n=1e9`, the 6 symbol after the dot will be incorrect.

[2022-11-12 15:19] levBagryansky commented on #83
@includealex I am now implementing exp(x) according to https://www.javamex.com/tutorials/math/exp.shtml
Briefly, It firstly separate x by two parts: x0 and x1. x0 is less than ln(2) so it can be computed by definition. x1 is number of multiples of ln(2) so exp(x1) can be calculated via `(number 2).power (x/ln(2))`(pseudo-code). ln(2) is a constant

[2022-11-13 13:09] #83 closed

[2022-11-13 13:09] 0pdd commented on #56
@levBagryansky 3 puzzles [#79](https://github.com/objectionary/eo-math/issues/79), [#81](https://github.com/objectionary/eo-math/issues/81), [#82](https://github.com/objectionary/eo-math/issues/82) are still not solved; solved: [#83](https://github.com/objectionary/eo-math/issues/83).

[2022-11-14 14:47] #51 closed

[2022-11-14 14:49] yegor256 commented on #84
@includealex can you give a full example of its usage? A working piece of EO code, please.

[2022-11-14 18:26] includealex commented on #84
@yegor256 sure
[code]

[2022-11-15 08:05] yegor256 commented on #84
@includealex to my knowledge, binary search finds an item in a _sorted_ array. The algorithm doesn't expect a function or precision as input arguments. Maybe you are talking about something else?

[2022-11-15 13:46] includealex commented on #84
@yegor256 please check **10.1.3** on this [page](https://notes.algoprog.ru/binsearch/07_binsearch_main.html).

[2022-11-15 16:35] yegor256 commented on #84
@includealex it's a special case of application of binary search algorithm

[2022-11-15 16:59] includealex commented on #84
@yegor256 but it is widely used in implementation monotonic continuous functions

[2022-11-16 06:19] #73 closed

[2022-11-17 14:40] levBagryansky commented on #70
@Graur please assign me. I have some ideas about iis implementation via binary search that is fits well here

[2022-11-17 14:43] Graur commented on #70
@levBagryansky Sure, go ahead

[2022-11-19 04:40] #70 closed

[2022-11-19 04:40] 0pdd commented on #70
The puzzle `53-f25515fd` has disappeared from the source code, that's why I closed this issue. //cc @maxonfjvipon

[2022-11-21 14:04] levBagryansky opened #89 "number.sqrt object"
There is a separate function of sqrt in defferent languages. For instance `Math.sqrt` in java. I think it would be useful to have this object too. We can use [Heron's iterative formula](https://en.wikipedia.org/wiki/Methods_of_computing_square_roots#Babylonian_method) instead of calculating method in `number.power` because the formula has a good convergence rate:
$$\\sqrt{S} = \lim\limits_{k \to \

[2022-11-21 15:06] EugeneDar commented on #89
@levBagryansky I don't mind

[2022-11-21 15:31] Graur commented on #89
@maxonfjvipon WDYT?

[2022-11-21 16:01] maxonfjvipon commented on #89
@levBagryansky @Graur I like the idea about the Heron's formula. I have just a question: will we have an object to calculate a root of a n'th degree (n can be float as well)?
1. If yes then I think maybe we should introduce some universal object to calculate the root and make a special algorithm (Neron's) for `n = 2` (or even for `n` = 2, 4, 8, 16, 32, ... 2^x)?
2. If no then `sqrt` fits good here

[2022-11-21 16:35] levBagryansky commented on #89
@maxonfjvipon may be it is better to use the method in `number.power` if `x` is less than 1.0? Otherwise we would have 2 almost same objects: `power` and `root`. So I guess it is better to have just `sqrt`

[2022-11-21 16:53] maxonfjvipon commented on #89
@levBagryansky ok, I agree

[2022-11-23 14:16] levBagryansky opened #90 "number.is-close"
@Graur @maxonfjvipon
I think it would be convenient to use `number.is-close` in order to comparison floats. I would simplify coding tests
WDYT about introducing this object?
`[accuracy other] > close`

[2022-11-24 08:26] levBagryansky commented on #90
@Graur maybe we can make it a matcher

[2022-11-24 08:41] Graur commented on #90
@levBagryansky Do you mean something like that: https://github.com/objectionary/eo-hamcrest/blob/master/src/main/eo/org/eolang/hamcrest/matchers/close-to-matcher.eo ?

[2022-11-24 08:57] levBagryansky commented on #90
@Graur yes)

[2022-11-24 08:57] #90 closed

[2022-11-24 14:41] 0pdd opened #92 "number.eo:338-341: min. Implement sqrt without using..."
The puzzle `89-b869de10` from #89 has to be resolved:

https://github.com/objectionary/eo-math/blob/5aef8d77f970dd99ceac7fb87eba9a66c992dc70/src/main/eo/org/eolang/math/number.eo#L338-L341

The puzzle was created by @levBagryansky on 24-Nov-22.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2022-11-24 14:41] 0pdd commented on #89
@levBagryansky the puzzle [#92](https://github.com/objectionary/eo-math/issues/92) is still not solved.

[2022-11-24 15:37] includealex opened #93 "Integrals"
We can now implement integrals using Simpson's rules:
$$\int_a^b f(x) dx \approx \frac {b - a}{6} \cdot [f(a) + 4f (\frac{a + b}{2}) + f(b)]$$
or
$$\int_ a^b f(x) dx \approx \frac{b-a}{8} \cdot [f(a) + 3f (\frac{2a + b}{3}) + 3f(\frac{a+b}{3}) + f(b)]$$

@Graur what do you think about having `integral` object in `eo-math`?

[2022-11-24 15:42] Graur commented on #93
@includealex I like this idea, go ahead

[2022-11-25 05:49] #89 closed

[2022-11-29 08:14] 0pdd opened #96 "integral-tests.eo:71-75: This test fails due to incorrect..."
The puzzle `93-b28a2be4` from #93 has to be resolved:

https://github.com/objectionary/eo-math/blob/4cceaf5275af9a1b0f1c2755e80daa732df2d486/src/test/eo/org/eolang/math/integral-tests.eo#L71-L75

The puzzle was created by @rultor on 29-Nov-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2022-11-29 08:14] 0pdd commented on #96
@maxonfjvipon please pay attention to this new issue.

[2022-11-29 08:14] 0pdd commented on #93
@includealex the puzzle [#96](https://github.com/objectionary/eo-math/issues/96) is still not solved.